@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    height: 98%;
    border-radius: 10px;
    width: 50px; 
    z-index: 1;
    transition: transform 1s ease; 
}

.sidebar:hover{
    box-shadow:  10px 5px 5px #00000062;
}

.top-icons {
    margin-top: 10px;
}

.top-icons img{
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.bottom-icons img {
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons img:hover {
    transform: scale(1.5);
}

.top-icons img:hover {
    transform: scale(1.5);
}
