@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    height: 98%;
    border-radius: 10px;
    width: 50px; 
    z-index: 1;
    transition: transform 1s ease; 
}

.sidebar:hover{
    box-shadow:  10px 5px 5px #00000062;
}

.top-icons {
    margin-top: 10px;
}

.top-icons img{
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.bottom-icons img {
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons img:hover {
    transform: scale(1.5);
}

.top-icons img:hover {
    transform: scale(1.5);
}

.content{
    margin-left: 70px;
}



/*HEADER PROVICIONAL*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header .div-header{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: gray;
}

.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.asig{
    display: flex;
    flex-direction: row-reverse;
}

/* Calculadora IMC */

.imc-calculator{
    position: relative;
    width: 40%;
    background-color: rgba(128, 128, 128, 0.644);
    padding: 10px;
}

.head-calculator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head-calculator button{
    background: none;
    border: none;
}