@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #d4d4d4;
    height: 95%;
    border-radius: 10px;
    width: 50px; 
    z-index: 1;
    transition: transform 1s ease; 
}

.sidebar:hover{
    box-shadow:  10px 5px 5px #00000062;
}

.top-icons {
    margin-top: 10px;
}

.top-icons img{
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.bottom-icons img {
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.bottom-icons img:hover {
    transform: scale(1.5);
}

.top-icons img:hover {
    transform: scale(1.5);
}

.content{
    margin-left: 70px;
}

.content-img {
    width: 100%;
    margin: 0; /* Asegura que no haya margen alrededor del contenedor de la imagen */
    padding: 0; /* Asegura que no haya padding alrededor del contenedor de la imagen */
}

.content-img img {
    width: 100%;
    height: 300px; /* Ajusta esta altura según sea necesario */
    object-fit: cover; /* Esto asegurará que la imagen se recorte para llenar el contenedor sin deformarse */
    border-radius: 10px;
}

.content-b2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin-top: 10px;
}

.imgs{
    display: flex;
    justify-content: end;
}

.imgs img{
    width: 30%;
    margin: 5px;
    border-radius: 10px;
}

/*HEADER PROVICIONAL*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}



.header .div-header{
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: gray;
}

.title{
    text-align: start;
    font-weight: bold;
    font-size: 15px;
}

.txt{
    font-size: 20px;
}


#nutricion{
    border: none;
    border-radius: 20px;
    background:#d4d4d4;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    transition: transform 1s ease; 
}

#nutricion:hover{
    transform: scale(1.2);
    box-shadow: 0 0 10px black;
}